


    <!-- Courses Start -->

    <%= render partial: "home/courses", locals: { courses_data: @courses } %>

    <!-- Courses End -->
    <div class="container py-5">
        <%= paginate @courses, remote: true %>
    </div>