
<div class="formbold-checkbox-flex">
  <% question.try(:quiz_question_options).each do |quiz_question_option| %>
    <div class="formbold-checkbox-group">
      <label class="formbold-checkbox-label">
        <input 
          class="formbold-input-checkbox" 
          type="checkbox" 
          name="qusOne[]" 
          id="qusOne_<%= quiz_question_option.id %>" 
          value="<%= quiz_question_option.id %>"
          <% if question.is_required %> required <% end %>
        />
        <%= quiz_question_option.try(:title) %>
        <span class="formbold-checkbox-checkmark"></span>
      </label>
    </div>
  <% end %>
</div>


