<div class="container">
  <p><%= @form&.description %></p>
</div>

<section class="vh-auto">
  <div class="container py-5 h-100 w-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-lg-12 card" style="border-radius: 15px;">
        <h4 class="ml-4 mt-3 pb-2 pb-md-0"><%= @form&.caption %></h4>
        <div class="card-body p-4 p-md-5">
          <%= render partial: "forms/tab_headers", locals: { form_sections: @form.form_sections.where(is_active: true).order(:sequence) } %>
          <%= render partial: "forms/tab_sections", locals: { form_sections: @form.form_sections.where(is_active: true).order(:sequence) } %>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  $(function () {
    $('#myTab li:first-child a').tab('show');
  });
</script>