<!-- ======================= Page content START -->
<% if current_user.teacher? || current_user.custom? %>
<% @student = User.where(current_event_id: current_user.current_event_id)  %>
<% @user = current_user.teacher? ? current_user : current_user %>
<% @user_coures = UserCourse.where(teacher_id: @user.id) %>
<% @coures = Course.where(teacher_id: @user.id) %>

<section class="pt-0">
	<div class="container">

    <!-- =======================  Main content START -->
    <div class="col mt-5 mb-5">

      <!-- Counter boxes START -->
      <div class="row g-4">
        <!-- Counter item -->
        <div class="col-sm-6 col-lg-4">
          <div class="d-flex justify-content-center align-items-center p-4">
            <span class="display-6 text-warning mb-0"><i class="fas fa-tv fa-fw"></i></span>
            <div class="ms-4">
              <div class="d-flex">
                <h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="25"	data-purecounter-delay="200"><%= @coures.count %></h5>
              </div>
              <span class="mb-0 h6 fw-light">Total Courses</span>
            </div>
          </div>
        </div>
        <!-- Counter item -->
        <div class="col-sm-6 col-lg-4">
          <div class="d-flex justify-content-center align-items-center p-4">
            <span class="display-6 text-purple mb-0"><i class="fas fa-user-graduate fa-fw"></i></span>
            <div class="ms-4">
              <div class="d-flex">
                <h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="25"	data-purecounter-delay="200"><%= @student.count %></h5>
                <%# <span class="mb-0 h5">K+</span> %>
              </div>
              <span class="mb-0 h6 fw-light">Total Students</span>
            </div>
          </div>
        </div>
        <!-- Counter item -->
        <div class="col-sm-6 col-lg-4">
          <div class="d-flex justify-content-center align-items-center p-4">
            <span class="display-6 text-info mb-0"><i class="fas fa-gem fa-fw"></i></span>
            <div class="ms-4">
              <div class="d-flex">
                <h5 class="purecounter mb-0 fw-bold" data-purecounter-start="0" data-purecounter-end="12" data-purecounter-delay="300"><%= @user_coures.count %></h5>
                <%# <span class="mb-0 h5">K</span> %>
              </div>
              <span class="mb-0 h6 fw-light">Enrolled Students</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Counter boxes END -->

      <!-- Course List table START -->
      <div class="row">
        <div class="col-12">
          <div class="card border bg-transparent rounded-3 mt-5">
            <!-- Card header START -->
            <div class="card-header bg-transparent border-bottom">
              <div class="d-sm-flex justify-content-sm-between align-items-center">
                <h3 class="mb-2 mb-sm-0">Most Selling Courses</h3>
              </div>
            </div>
            <!-- Card header END -->

            <!-- Card body START -->
            <div class="card-body">
              <div class="table-responsive border-0 rounded-3">
                <!-- Table START -->
                <table class="table table-dark-gray align-middle p-4 mb-0">
                  <!-- Table head -->
                  <thead>
                    <tr>
                      <th scope="col" class="border-0 rounded-start">Course Name</th>
                      <th scope="col" class="border-0">Selling</th>
                      <th scope="col" class="border-0">Amount</th>
                      <th scope="col" class="border-0">Period</th>
                      <th scope="col" class="border-0 rounded-end">Action</th>
                    </tr>
                  </thead>
                  <!-- Table body START -->
                  <tbody>
                    
                    <!-- Table item -->
                    <tr>
                      <!-- Course item -->
                      <td>
                        <div class="d-flex align-items-center">
                          <!-- Image -->
                          <div class="w-60px">
                            <img src="assets/images/courses/4by3/08.jpg" class="rounded" alt="">
                          </div>
                          <!-- Title -->
                          <h6 class="mb-0 ms-2 table-responsive-title">	
                            <a href="#">Building Scalable APIs with GraphQL</a>
                          </h6>
                        </div>
                      </td>
                      <!-- Selling item -->
                      <td>34</td>
                      <!-- Amount item -->
                      <td>$1,25,478</td>
                      <!-- Period item -->
                      <td>
                        <span class="badge bg-primary bg-opacity-10 text-primary">9 months</span>
                      </td>
                      <!-- Action item -->
                      <td>
                        <a href="#" class="btn btn-sm btn-success-soft btn-round me-1 mb-0"><i class="far fa-fw fa-edit"></i></a>
                        <button class="btn btn-sm btn-danger-soft btn-round mb-0"><i class="fas fa-fw fa-times"></i></button>
                      </td>
                    </tr>

                  </tbody>
                  <!-- Table body END -->
                </table>
                <!-- Table END -->
              </div>

              <!-- Pagination -->
              <div class="d-sm-flex justify-content-sm-between align-items-sm-center mt-3">
                <!-- Content -->
                <p class="mb-0 text-center text-sm-start">Showing 1 to 8 of 20 entries</p>
                <!-- Pagination -->
                <nav class="d-flex justify-content-center mb-0" aria-label="navigation">
                  <ul class="pagination pagination-sm pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
                    <li class="page-item mb-0"><a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-left"></i></a></li>
                    <li class="page-item mb-0"><a class="page-link" href="#">1</a></li>
                    <li class="page-item mb-0 active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item mb-0"><a class="page-link" href="#">3</a></li>
                    <li class="page-item mb-0"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
                  </ul>
                </nav>
              </div>
            </div>
            <!-- Card body START -->
          </div>
        </div>
      </div>
      <!-- Course List table END -->
    </div>
    <!-- ======================= Main content END -->

    <!-- =======================  Main content START -->
    <div class="col mt-5 mb-5">

      <div class="card border bg-transparent rounded-3">
        <!-- Card header START -->
          <div class="card-header bg-transparent border-bottom">
            <h3 class="mb-0">My Earning</h3>
          </div>
        <!-- Card header END -->

        <!-- Earning boxes START -->
        <div class="row g-4 mt-2 ml-2 mr-2">
          <!-- Earning item -->
          <div class="col-sm-6 col-lg-4">
            <div class="text-center p-4 bg-light rounded-3">
              <h6 class="text-body">Sales this month</h6>
              <h2 class="mb-0 fs-1">$899.95</h2>
            </div>
          </div>

          <!-- Earning item -->
          <div class="col-sm-6 col-lg-4">
            <div class="text-center p-4 bg-light rounded-3">
              <h6 class="text-body">To be paid
                <a tabindex="0" class="h6 mb-0" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top" data-bs-content="After US royalty withholding tax">
                  <i class="bi bi-info-circle-fill small"></i>
                </a>
              </h6>
              <h2 class="mb-0 fs-1">$750.35</h2>
            </div>
          </div>

          <!-- Earning item -->
          <div class="col-sm-6 col-lg-4">
            <div class="text-center p-4 bg-light rounded-3">
              <h6 class="text-body">Lifetime Earnings</h6>
              <h2 class="mb-0 fs-1">$4882.65</h2>
            </div>
          </div>
        </div>
        <!-- Earning boxes END -->

        <!-- Chart START -->
        <div class="card card-body bg-transparent rounded-top border overflow-hidden p-0 mt-5">
          <div class="row g-4 p-4">
            <!-- Content -->
            <div class="col-sm-6 col-md-4">
              <span class="badge text-bg-dark">Current Month</span>
              <h4 class="text-primary my-2">$35000</h4>
              <p class="mb-0"><span class="text-success me-1">0.20%<i class="bi bi-arrow-up"></i></span>vs last month</p>
            </div>

            <!-- Content -->
            <div class="col-sm-6 col-md-4">
              <span class="badge text-bg-dark">Last Month</span>
              <h4 class="my-2">$28000</h4>
              <p class="mb-0"><span class="text-danger me-1">0.10%<i class="bi bi-arrow-down"></i></span>Then last month</p>
            </div>
          </div>

          <!-- Apex chart -->
          <div id="ChartPayoutEarning"></div>

        </div>
        <!-- Chart END -->

        <!-- Earning chart START -->
        <div class="card bg-transparent border rounded-3 mt-5">
          <!-- Card title -->
          <div class="card-header bg-transparent">
            <h5 class="mb-0">Top five earning sources</h5>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <div class="row g-4 g-md-5 align-items-center">
              <!-- Chart -->
              <div class="col-md-6">
                <div id="ChartPageViews"></div>
              </div>

              <!-- Content -->
              <div class="col-md-6">
                <ul class="list-group list-group-borderless mb-3">
                  <li class="list-group-item"><h6 class="mb-0">Course Name</h6></li>
                  <li class="list-group-item"><i class="text-success fas fa-circle me-2"></i>The Complete Digital Marketing Course - 12 Courses in 1</li>
                  <li class="list-group-item"><i class="text-warning fas fa-circle me-2"></i>Google Ads Training: Become a PPC Expert</li>
                  <li class="list-group-item"><i class="text-danger fas fa-circle me-2"></i>Microsoft Excel - Excel from Beginner to Advanced</li>
                  <li class="list-group-item"><i class="text-primary fas fa-circle me-2"></i>Create a Design System in Figma</li>
                  <li class="list-group-item"><i class="text-secondary fas fa-circle me-2"></i>Deep Learning with React-Native</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- Earning chart END -->
      </div>
    </div>
    <!-- ======================= Main content END -->

    <!-- ======================= payout content START -->
    <div class="col mt-5 mb-5 d-none">

      <!-- Payout box START -->
      <div class="row g-4 mb-4">
        <!-- Box item -->
        <div class="col-sm-6 col-md-4">
          <div class="border p-3 rounded-3 h-100">
            <div class="d-flex mb-1 justify-content-between align-items-center">
              <h6 class="mb-0">Last month payout</h6>
              <span class="badge bg-success bg-opacity-10 text-success ms-2 mb-0">Paid</span>
            </div>
            <h2 class="mb-2 mt-2">$12,825</h2>
            <a href="#">View transaction</a>
          </div>
        </div>

        <!-- Box item -->
        <div class="col-sm-6 col-md-4">
          <div class="border p-3 rounded-3 h-100">
            <h6 class="mb-0">This month earning</h6>
            <h2 class="mb-2 mt-2">$15,356</h2>
            <p class="mb-0">Expected payout on 05/01/2023</p>
          </div>
        </div>

        <!-- Box item -->
        <div class="col-sm-6 col-md-4">
          <div class="bg-primary bg-opacity-10 h-100 p-3 rounded-3">
            <h6 class="mb-0">Balance</h6>
            <h2 class="mb-2 mt-2">$8,485</h2>
            <a href="#" class="btn btn-sm btn-primary mb-0">Withdraw Earning</a>
          </div>
        </div>
      </div>
      <!-- Payout box END -->

      <div class="card bg-transparent border rounded-3">
        <!-- Card header START -->
        <div class="card-header bg-transparent border-bottom">
          <h3 class="mb-0">Payouts</h3>
        </div>
        <!-- Card header END -->

        <!-- Card body START -->
        <div class="card-body">

          <!-- Title and select START -->
          <div class="row g-3 align-items-center justify-content-between mb-4">
            <!-- Content -->
            <div class="col-md-8">
              <form class="rounded position-relative">
                <input class="form-control pe-5 bg-transparent" type="search" placeholder="Search" aria-label="Search">
                <button class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset" type="submit">
              <i class="fas fa-search fs-6 "></i>
            </button>
              </form>
            </div>

            <!-- Select option -->
            <div class="col-md-3">
              <!-- Short by filter -->
              <form>
                <select class="form-select js-choice border-0 z-index-9 bg-transparent" aria-label=".form-select-sm">
                  <option value="">Sort by</option>
                  <option>Free</option>
                  <option>Newest</option>
                  <option>Oldest</option>
                </select>
              </form>
            </div>
          </div>
          <!-- Title and select END -->

          <!-- Payout list table START -->
          <div class="table-responsive border-0">
            <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
              <!-- Table head -->
              <thead>
                <tr>
                  <th scope="col" class="border-0 rounded-start">Payout</th>
                  <th scope="col" class="border-0">Amount</th>
                  <th scope="col" class="border-0">Status</th>
                  <th scope="col" class="border-0 rounded-end">Date</th>
                </tr>
              </thead>
              <!-- Table body START -->
              <tbody>
                <!-- Table item -->
                <tr>
                  <!-- Table data -->
                  <td>
                    <h6 class="mt-2 mt-lg-0 mb-0"><a href="#">Successful payout #102356</a></h6>
                  </td>

                  <!-- Table data -->
                  <td>$3,999
                    <!-- Drop down with id -->
                    <a href="#" class="h6 mb-0" role="button" id="dropdownShare" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-info-circle-fill"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare">
                      <li>
                        <div class="d-flex justify-content-between">
                          <span class="small">Commission</span>
                          <span class="h6 mb-0 small">$86</span>
                        </div>
                        <hr class="my-1">
                      </li>
                      <!-- Divider -->

                      <li>
                        <div class="d-flex justify-content-between">
                          <span class="me-4 small">Us royalty withholding</span>
                          <span class="text-danger small">-$0.00</span>
                        </div>
                        <hr class="my-1">
                      </li>
                      
                      <li>
                        <div class="d-flex justify-content-between">
                          <span class="small">Earning</span>
                          <span class="h6 mb-0 small">$86</span>
                        </div>
                      </li>
                    </ul>
                  </td>

                  <!-- Table data -->
                  <td class="text-center text-sm-start">
                    <span class="badge bg-success bg-opacity-10 text-success">Paid</span>
                  </td>

                  <!-- Table data -->
                  <td>18/1/2023</td>
                </tr>

                <!-- Table item -->
                <tr>
                  <!-- Table data -->
                  <td>
                    <!-- Title -->
                    <h6 class="mt-2 mt-lg-0 mb-0"><a href="#">Successful payout #102589</a></h6>
                  </td>

                  <!-- Table data -->
                  <td>$4,875
                    <!-- Drop down with id -->
                    <a href="#" class="h6 mb-0" role="button" id="dropdownShare1" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-info-circle-fill"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare1">
                      <li>
                        <div class="d-flex justify-content-between">
                          <span class="small">Commission</span>
                          <span class="h6 mb-0 small">$86</span>
                        </div>
                        <hr class="my-1">
                      </li>
                      <!-- Divider -->

                      <li>
                        <div class="d-flex justify-content-between">
                          <span class="me-4 small">Us royalty withholding</span>
                          <span class="text-danger small">-$0.00</span>
                        </div>
                        <hr class="my-1">
                      </li>
                      
                      <li>
                        <div class="d-flex justify-content-between">
                          <span class="small">Earning</span>
                          <span class="h6 mb-0 small">$86</span>
                        </div>
                      </li>
                    </ul>
                  </td>

                  <!-- Table data -->
                  <td class="text-center text-sm-start">
                    <span class="badge bg-success bg-opacity-10 text-success">Paid</span>
                  </td>

                  <!-- Table data -->
                  <td>12/1/2023</td>
                </tr>

                <!-- Table item -->
                <tr>
                  <!-- Table data -->
                  <td>
                    <h6 class="mt-2 mt-lg-0 mb-0"><a href="#">Successful payout #108645</a></h6>
                  </td>

                  <!-- Table data -->
                  <td>$1,800
                    <!-- Drop down with id -->
                    <a href="#" class="h6 mb-0" role="button" id="dropdownShare2" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-info-circle-fill"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare2">
                      <li>
                        <div class="d-flex justify-content-between">
                          <span class="small">Commission</span>
                          <span class="h6 mb-0 small">$86</span>
                        </div>
                        <hr class="my-1">
                      </li>
                      <!-- Divider -->

                      <li>
                        <div class="d-flex justify-content-between">
                          <span class="me-4 small">Us royalty withholding</span>
                          <span class="text-danger small">-$0.00</span>
                        </div>
                        <hr class="my-1">
                      </li>
                      
                      <li>
                        <div class="d-flex justify-content-between">
                          <span class="small">Earning</span>
                          <span class="h6 mb-0 small">$86</span>
                        </div>
                      </li>
                    </ul>
                  </td>

                  <!-- Table data -->
                  <td class="text-center text-sm-start">
                    <span class="badge bg-danger bg-opacity-10 text-danger">Cancelled </span>
                  </td>

                  <!-- Table data -->
                  <td>22/1/2023</td>
                </tr>

                <!-- Table item -->
                <tr>
                  <!-- Table data -->
                  <td>
                    <h6 class="mt-2 mt-lg-0 mb-0"><a href="#">Successful payout #108645</a></h6>
                  </td>

                  <!-- Table data -->
                  <td>$6,800
                    <!-- Drop down with id -->
                    <a href="#" class="h6 mb-0" role="button" id="dropdownShare3" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-info-circle-fill"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare3">
                      <li>
                        <div class="d-flex justify-content-between">
                          <span class="small">Commission</span>
                          <span class="h6 mb-0 small">$86</span>
                        </div>
                        <hr class="my-1">
                      </li>
                      <!-- Divider -->

                      <li>
                        <div class="d-flex justify-content-between">
                          <span class="me-4 small">Us royalty withholding</span>
                          <span class="text-danger small">-$0.00</span>
                        </div>
                        <hr class="my-1">
                      </li>
                      
                      <li>
                        <div class="d-flex justify-content-between">
                          <span class="small">Earning</span>
                          <span class="h6 mb-0 small">$86</span>
                        </div>
                      </li>
                    </ul>
                  </td>

                  <!-- Table data -->
                  <td class="text-center text-sm-start">
                    <span class="badge bg-success bg-opacity-10 text-success">Paid</span>
                  </td>

                  <!-- Table data -->
                  <td>28/1/2023</td>
                </tr>

                <!-- Table item -->
                <tr>
                  <!-- Table data -->
                  <td>
                    <!-- Title -->
                    <h6 class="mt-2 mt-lg-0 mb-0"><a href="#">Successful payout #108645</a></h6>
                  </td>

                  <!-- Table data -->
                  <td>$3,576
                    <!-- Drop down with id -->
                    <a href="#" class="h6 mb-0" role="button" id="dropdownShare4" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi bi-info-circle-fill"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare4">
                      <li>
                        <div class="d-flex justify-content-between">
                          <span class="small">Commission</span>
                          <span class="h6 mb-0 small">$86</span>
                        </div>
                        <hr class="my-1">
                      </li>
                      <!-- Divider -->

                      <li>
                        <div class="d-flex justify-content-between">
                          <span class="me-4 small">Us royalty withholding</span>
                          <span class="text-danger small">-$0.00</span>
                        </div>
                        <hr class="my-1">
                      </li>
                      
                      <li>
                        <div class="d-flex justify-content-between">
                          <span class="small">Earning</span>
                          <span class="h6 mb-0 small">$86</span>
                        </div>
                      </li>
                    </ul>
                  </td>

                  <!-- Table data -->
                  <td class="text-center text-sm-start">
                    <span class="badge bg-orange bg-opacity-10 text-orange">Pending</span>
                  </td>

                  <!-- Table data -->
                  <td>12/1/2023</td>
                </tr>
              </tbody>
              <!-- Table body END -->
            </table>
          </div>
          <!-- Payout list table END -->

          <!-- Pagination START -->
          <div class="d-sm-flex justify-content-sm-between align-items-sm-center mt-4 mt-sm-3">
            <!-- Content -->
            <p class="mb-0 text-center text-sm-start">Showing 1 to 8 of 20 entries</p>
            <!-- Pagination -->
            <nav class="d-flex justify-content-center mb-0" aria-label="navigation">
              <ul class="pagination pagination-sm pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
                <li class="page-item mb-0"><a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-left"></i></a></li>
                <li class="page-item mb-0"><a class="page-link" href="#">1</a></li>
                <li class="page-item mb-0 active"><a class="page-link" href="#">2</a></li>
                <li class="page-item mb-0"><a class="page-link" href="#">3</a></li>
                <li class="page-item mb-0"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
              </ul>
            </nav>
          </div>
          <!-- Pagination END -->
        </div>
        <!-- Card body START -->
      </div>
      <!-- Payout END -->
    </div>
		<!-- ======================= payout content END -->

    <!-- ======================= student content START -->
    <div class="col mt-5 mb-5 d-none">
      <!-- Card START -->
      <div class="card border bg-transparent rounded-3">
        <!-- Card header START -->
        <div class="card-header bg-transparent border-bottom">
          <h3 class="mb-0">My Students List</h3>
        </div>
        <!-- Card header END -->

        <!-- Card body START -->
        <div class="card-body">

          <!-- Search and select START -->
          <div class="row g-3 align-items-center justify-content-between mb-4">
            <!-- Search -->
            <div class="col-md-8">
              <form class="rounded position-relative">
                <input class="form-control pe-5 bg-transparent" type="search" placeholder="Search" aria-label="Search">
                <button class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset" type="submit">
              <i class="fas fa-search fs-6 "></i>
            </button>
              </form>
            </div>

            <!-- Select option -->
            <div class="col-md-3">
              <!-- Short by filter -->
              <form>
                <select class="form-select js-choice border-0 z-index-9 bg-transparent" aria-label=".form-select-sm">
                  <option value="">Sort by</option>
                  <option>Free</option>
                  <option>Newest</option>
                  <option>Oldest</option>
                </select>
              </form>
            </div>
          </div>
          <!-- Search and select END -->

          <!-- Student list table START -->
          <div class="table-responsive border-0">
            <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
              <!-- Table head -->
              <thead>
                <tr>
                  <th scope="col" class="border-0 rounded-start">Student name</th>
                  <th scope="col" class="border-0">Progress</th>
                  <th scope="col" class="border-0">Courses</th>
                  <th scope="col" class="border-0">Enrolled date</th>
                  <th scope="col" class="border-0 rounded-end">Action</th>
                </tr>
              </thead>

              <!-- Table body START -->
              <tbody>
                <!-- Table item -->
                <tr>
                  <!-- Table data -->
                  <td>
                    <div class="d-flex align-items-center position-relative">
                      <!-- Image -->
                      <div class="avatar avatar-md mb-2 mb-md-0">
                        <img src="assets/images/avatar/01.jpg" class="rounded" alt="">
                      </div>
                      <div class="mb-0 ms-2">
                        <!-- Title -->
                        <h6 class="mb-0"><a href="#" class="stretched-link">Lori Stevens</a></h6>
                        <!-- Address -->
                        <span class="text-body small"><i class="fas fa-fw fa-map-marker-alt me-1 mt-1"></i>Mumbai</span>
                      </div>
                    </div>
                  </td>

                  <!-- Table data -->
                  <td class="text-center text-sm-start">
                    <div class=" overflow-hidden">
                      <h6 class="mb-0">85%</h6>
                      <div class="progress progress-sm bg-primary bg-opacity-10">
                        <div class="progress-bar bg-primary aos" role="progressbar" data-aos="slide-right" data-aos-delay="200" data-aos-duration="1000" data-aos-easing="ease-in-out" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                        </div>
                      </div>
                    </div>
                  </td>

                  <!-- Table data -->
                  <td>10</td>

                  <!-- Table data -->
                  <td>4/1/2023</td>

                  <!-- Table data -->
                  <td>
                    <a href="#" class="btn btn-success-soft btn-round me-1 mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Message"><i class="far fa-envelope"></i></a>
                    <button class="btn btn-danger-soft btn-round mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Block"><i class="fas fa-ban"></i></button>
                  </td>
                </tr>

              </tbody>
              <!-- Table body END -->
            </table>
          </div>
          <!-- Student list table END -->

          <!-- Pagination START -->
          <div class="d-sm-flex justify-content-sm-between align-items-sm-center mt-4 mt-sm-3">
            <!-- Content -->
            <p class="mb-0 text-center text-sm-start">Showing 1 to 8 of 20 entries</p>
            <!-- Pagination -->
            <nav class="d-flex justify-content-center mb-0" aria-label="navigation">
              <ul class="pagination pagination-sm pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
                <li class="page-item mb-0"><a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-left"></i></a></li>
                <li class="page-item mb-0"><a class="page-link" href="#">1</a></li>
                <li class="page-item mb-0 active"><a class="page-link" href="#">2</a></li>
                <li class="page-item mb-0"><a class="page-link" href="#">3</a></li>
                <li class="page-item mb-0"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
              </ul>
            </nav>
          </div>
          <!-- Pagination END -->
        </div>
        <!-- Card body START -->
      </div>
      <!-- Card END -->
    </div>
    <!-- ======================= student content END -->

    <!-- ======================= Order List content START -->
    <div class="col mt-5 mb-5 d-none">

      <!-- Card START -->
      <div class="card border bg-transparent rounded-3">
        <!-- Card header START -->
        <div class="card-header bg-transparent border-bottom">
          <h3 class="mb-0">Order List</h3>
        </div>
        <!-- Card header END -->

        <!-- Card body START -->
        <div class="card-body">

          <!-- Search and select START -->
          <div class="row g-3 align-items-center justify-content-between mb-4">
            <!-- Search -->
            <div class="col-md-8">
              <form class="rounded position-relative">
                <input class="form-control pe-5 bg-transparent" type="search" placeholder="Search" aria-label="Search">
                <button class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset" type="submit">
              <i class="fas fa-search fs-6 "></i>
            </button>
              </form>
            </div>

            <!-- Select option -->
            <div class="col-md-3">
              <!-- Short by filter -->
              <form>
                <select class="form-select js-choice border-0 z-index-9 bg-transparent" aria-label=".form-select-sm">
                  <option value="">Sort by</option>
                  <option>Free</option>
                  <option>Newest</option>
                  <option>Oldest</option>
                </select>
              </form>
            </div>
          </div>
          <!-- Search and select END -->

          <!-- Order list table START -->
          <div class="table-responsive border-0">
            <!-- Table START -->
            <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
              <!-- Table head -->
              <thead>
                <tr>
                  <th scope="col" class="border-0 rounded-start">Course name</th>
                  <th scope="col" class="border-0">Order ID</th>
                  <th scope="col" class="border-0">Date</th>
                  <th scope="col" class="border-0">Amount</th>
                  <th scope="col" class="border-0 rounded-end">Payment</th>
                </tr>
              </thead>

              <!-- Table body START -->
              <tbody>
                <!-- Table item -->
                <tr>
                  <!-- Table data -->
                  <td>
                    <h6 class="table-responsive-title mt-2 mt-lg-0 mb-0"><a href="#">The complete Digital Marketing Course - 8 Course in 1</a></h6>
                  </td>

                  <!-- Table data -->
                  <td class="text-center text-sm-start text-primary-hover">
                    <a href="#" class="text-body"><u>#125489</u></a>
                  </td>

                  <!-- Table data -->
                  <td>18/1/2023</td>

                  <!-- Table data -->
                  <td>$356</td>

                  <!-- Table data -->
                  <td>Credit Card</td>
                </tr>

                <!-- Table item -->
                <tr>
                  <!-- Table data -->
                  <td>
                    <h6 class="table-responsive-title mt-2 mt-lg-0 mb-0"><a href="#">Time Management Mastery: Do More, Stress Less</a></h6>
                  </td>
                  <!-- Table data -->
                  <td class="text-center text-sm-start text-primary-hover">
                    <a href="#" class="text-body"><u>#235486</u></a>
                  </td>

                  <!-- Table data -->
                  <td>25/1/2023</td>

                  <!-- Table data -->
                  <td>$186</td>

                  <!-- Table data -->
                  <td>Debit Card</td>
                </tr>

                <!-- Table item -->
                <tr>
                  <!-- Table data -->
                  <td>
                    <h6 class="table-responsive-title mt-2 mt-lg-0 mb-0"><a href="#">Building Scalable APIs with GraphQL</a></h6>
                  </td>
                  <!-- Table data -->
                  <td class="text-center text-sm-start text-primary-hover">
                    <a href="#" class="text-body"><u>#0215789</u></a>
                  </td>

                  <!-- Table data -->
                  <td>4/9/2020</td>

                  <!-- Table data -->
                  <td>$450</td>

                  <!-- Table data -->
                  <td>Paypal</td>
                </tr>

                <!-- Table item -->
                <tr>
                  <!-- Table data -->
                  <td>
                    <h6 class="table-responsive-title mt-2 mt-lg-0 mb-0"><a href="#">Sketch from A to Z: for app designer</a></h6>
                  </td>
                  <!-- Table data -->
                  <td class="text-center text-sm-start text-primary-hover">
                    <a href="#" class="text-body"><u>#0135689</u></a>
                  </td>

                  <!-- Table data -->
                  <td>5/1/2023</td>

                  <!-- Table data -->
                  <td>$0</td>

                  <!-- Table data -->
                  <td>Free</td>
                </tr>

                <!-- Table item -->
                <tr>
                  <!-- Table data -->
                  <td>
                    <h6 class="table-responsive-title mt-2 mt-lg-0 mb-0"><a href="#">Build Responsive Websites with HTML</a></h6>
                  </td>
                  <!-- Table data -->
                  <td class="text-center text-sm-start text-primary-hover">
                    <a href="#" class="text-body"><u>#0587623</u></a>
                  </td>

                  <!-- Table data -->
                  <td>2/1/2023</td>

                  <!-- Table data -->
                  <td>$250</td>

                  <!-- Table data -->
                  <td>Credit Card</td>
                </tr>

                <!-- Table item -->
                <tr>
                  <!-- Table data -->
                  <td>
                    <h6 class="table-responsive-title mt-2 mt-lg-0 mb-0"><a href="#">JavaScript: Full Understanding</a></h6>
                  </td>
                  <!-- Table data -->
                  <td class="text-center text-sm-start text-primary-hover">
                    <a href="#" class="text-body"><u>#0215789</u></a>
                  </td>

                  <!-- Table data -->
                  <td>14/1/2023</td>

                  <!-- Table data -->
                  <td>$325</td>

                  <!-- Table data -->
                  <td>Debit Card</td>
                </tr>
              </tbody>
              <!-- Table body END -->
            </table>
            <!-- Table END -->
          </div>
          <!-- Order list table END -->

          <!-- Pagination START -->
          <div class="d-sm-flex justify-content-sm-between align-items-sm-center mt-4 mt-sm-3">
            <!-- Content -->
            <p class="mb-0 text-center text-sm-start">Showing 1 to 8 of 20 entries</p>
            <!-- Pagination -->
            <nav class="d-flex justify-content-center mb-0" aria-label="navigation">
              <ul class="pagination pagination-sm pagination-primary-soft d-inline-block d-md-flex rounded mb-0">
                <li class="page-item mb-0"><a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-left"></i></a></li>
                <li class="page-item mb-0"><a class="page-link" href="#">1</a></li>
                <li class="page-item mb-0 active"><a class="page-link" href="#">2</a></li>
                <li class="page-item mb-0"><a class="page-link" href="#">3</a></li>
                <li class="page-item mb-0"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
              </ul>
            </nav>
          </div>
          <!-- Pagination END -->
        </div>
        <!-- Card body START -->
      </div>
        <!--Card END  -->
    </div>
		<!-- ======================= Order List content END -->
	</div>
</section>
<!-- ======================= Page content END -->
<% end %>